@font-face {
    font-family: 'archisticobold';
    src:
    url('fonts/archistico_bold-webfont.woff2') format('woff2'),
    url('fonts/archistico_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'archisticonormal';
    src:
    url('fonts/archistico_simple-webfont.woff2') format('woff2'),
    url('fonts/archistico_simple-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    padding: 0;
    margin: 0;
}


body {
    background-color: #d4dadf;
    color: rgb(30, 30, 30);
    font-family: 'archisticonormal';
    font-size: 16px;
}

main {
    box-sizing: border-box;
    border-radius: 3px;
    max-width: 615px;

    /* width: 70%; */
    padding: 1em 0;
    min-height: 725px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    box-sizing: border-box;
    border: 3px ridge rgb(230, 230, 230);
    border-radius: 2px;
    background-color: rgb(100, 100, 100);
    font-family: 'archisticobold';
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    color: beige;
    text-align: center;
    width: 80%;
}


.h1-get {
    /* background-color: rgb(221, 111, 10); */
    background-color: rgb(231, 121, 20);
}

.h1-post {
    color: grey;
    background-color: rgb(255, 230, 15);
}

.h1-session {
    background-color: blue;
}

.h1-session-object {
    background-color: rgb(60, 6, 116);
}

.navbar {
    box-sizing: border-box;

    /* border: 2px solid rgb(5, 5, 5); */
    background-color: beige;
    width: 100%;
    margin-bottom: 24px;
    display: block;
    padding: 0.7em;
    padding-left: 4em;
}

.navbar a {
    display: inline;
    font-size: 14px;
    padding: 0 0.5em 0.5em;
    margin-bottom: 12px;
    color: rgb(0, 0, 0);
}

.form-wrap {
    box-sizing: border-box;
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 1em 10%;
}

.form1 {
    box-sizing: border-box;
    width: 60%;
    margin-left: 5%;

    /* margin-right: 5%; */
    display: inline;
}

.form2 {
    box-sizing: border-box;
    width: 20%;

    /* margin-left: 5%; */
    margin-right: 5%;
    display: inline;
}

form.resetbutton {
    display: inline;
    margin: 0 auto 12px;
}

input[type=submit] {
    color: beige;
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    padding: 0.5em;
    background-color: grey;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.result h3 {
    margin: auto;
    width: 75%;
    text-align: center;
}

.low {
    background-color: red;
}

.high {
    background-color: red;
}

.correct {
    background-color: lightgreen;
}

li {
    list-style-type: decimal-leading-zero;
    text-align: left;
    margin-left: 3.5em;
    padding-left: 0;
}

div.index {
    box-sizing: border-box;
    border: 1px dashed grey;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 0.5em 2em;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 60%;
    min-height: 18em;
}

div.result {
    position: relative;
    box-sizing: border-box;

    /* border: 3px solid grey; */
    border: 3px solid rgb(200, 200, 200);
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    padding: 1em 0.5em;
    text-align: center;
    width: 50%;
    min-height: 18em;
}

div.thenumber {
    box-sizing: border-box;
    border: 1px dashed grey;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    padding: 0.5em;
    text-align: center;
    width: 30%;
}

.noguessesmade {
    margin-bottom: 10em;
}


.guessesleft {
    position: absolute;
    top: 14em;
    left: 10%;
    vertical-align: bottom;
}

.index {
    border: 6px ridge rgb(100, 100, 100);
    background-color: #d4dadf;
}

.get {
    border: 6px ridge rgb(221, 111, 10);
    background-color: rgb(300, 190, 90);
}

.post {
    border: 6px ridge rgb(255, 209, 15);
    background-color: rgb(245, 239, 150);
}

.session {
    border: 6px ridge blue;
    background-color: lightblue;
}

.session-object {
    border: 6px ridge rgb(60, 6, 116);
    background-color: rgb(186, 133, 219);
}

@media screen and (max-width: 615px) {
    main {
        width: 100%;
    }

    div.result {
        width: 60%;
    }

    div.index {
        width: 60%;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: 28px;
    }

    .navbar a {
        display: block;
        margin-bottom: 6px;
    }

    div.thenumber {
        font-size: 13px;
        width: 40%;
    }

    div.result {
        width: 70%;
    }

    div.index {
        width: 70%;
    }

    li {
        margin-left: 1em;
    }
}
